@{
    ViewBag.Title = "Home Page";
}

<h2> Dont Worry, I am just learning how to use signalR </h2>
<div id="msg"></div>
@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/Learning.js"></script>

}